---
const description = "404";
import '../styles/global.css';
---

<layout>
    <div class="lost">
        <div class="gif">
            <img width="300" height="259" src="/assets/404.webp" alt="404.gif">
        </div>
        <h1 class="lost-header">{ description }</h1>
        <p class="lost-body">Parece que te has equivocado de bosque!</p>
        <p>
            <a href="/" class="lost-link">Volver a Inicio</a>
        </p>
    </div>
</layout>