---
import ThemeIcon from "./ThemeIcon.astro"
---

<div class="navbar">
    <div class="navbar-title">
        <a href="/">Ismael Corbacho</a>
    </div>
    <div class="navbar-menu">
        <a href="/works/">Proyectos</a>
        <a href="https://github.com/icorbachodev/">GitHub</a>
        <ThemeIcon />
    </div>
</div>